div.hidden
	hr
	div
		form(action="/task" method="post")
			div.new_task
				div.field
					span.label Text
					input(type="text", name="text", id="new_task_text")
				div.field
					span.label Parent
					input(type="text", name="parent_tid", id="new_task_parent_tid")
				div#new_task_submit
					input(type="submit", value="Save")

script(type="text/template" id="splash")
	<div data-role="content">
	<div class="splash">
	<h1>HOLO SPLASH</h1>
	<% alert("hola") %>
	</div>
	</div>
	
script(type="text/template" id="home")
	<div data-role="content">
	<h1>Tasks</h1>
	<ul>
	<% for(var i = 0; i < tasks.length; i++){ %>
	<%= compile_template('task', {task: tasks[i]}) %>
	<% } %> 
	</ul>
	</div>
	
script(type="text/template" id="task")
	<li data-id='<%= task.get('tid') %>'>
	<input type="text" value="<%= task.get('text') %>" />
	<ul>
	<% if(task.hasChilds()){ %>
	<span data-span_id='<%= task.get('tid') %>' onclick="toggle_arrow('<%= task.get('tid') %>')"><i class="arrow-down" ></i></span>
	<% for(var j = 0; j < task.childArray.length; j++){ %>
	<%= compile_template('task', {task: task.childArray[j]}) %>
	<% } %>	
	<% }else{ %>
	<span data-span_id='<%= task.get('tid') %>' class="right" onclick="toggle_arrow('<%= task.get('tid') %>')"><i class="arrow-right" ></i></span>			
	<% } %>
	<input value="" placeholder="*" class="new_element" onkeydown="addToTasks(this)"/>
	</ul>
	</li> 