!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/lib/jquery-1.7.1.min.js")
    script(src="/javascripts/lib/underscore.min.js")
    script(src="/javascripts/lib/backbone.min.js")

  header 
    ul
      li
        input(type="button", onclick="save();", value="Save") 
  body!= body
  
  script(src="/javascripts/form_list.js")
  script(src="/javascripts/application.js")